.header {
  background: #99a799;
  height: 15em;
  display: grid;
  place-content: center;
}

.header__search {
  border-radius: 10px;
  height: 27px;
  font-size: large;
}

.header__search--error {
  border-radius: 10px;
  height: 27px;
  font-size: large;
  border: 2px red solid;
}

.header__button {
  border-radius: 10px;
  margin-left: 5px;
  height: 34px;
}

.header__error {
  color: red;
  margin-top: 5px;
}
